.header-button {
    background: #FB2E86;
    padding: 8px 13px;
    transition: all 0.2s ease;
    &:hover {
        background: #FF4C8D;
    }
    &:active {
        background: #f94185;
    }
}


.footer-button {
    background: #FB2E86;
    padding: 0px 40px;
    border-radius: 3px;
    color: #fff;
    transition: all 0.2s ease;
    &:hover {
        background: #FF4C8D;
    }
    &:active {
        background: #f94185;
    }
}