footer {
  background: #efeffb;
  padding: 95px 0 100px;
  .list-title {
    font-size: 18px;
    font-weight: 700;
    color: #000;
    margin-bottom: 42px;
  }
  .list {
    display: flex;
    flex-direction: column;
    gap: 21px;
    color: #8a8fb9;
    &-item {
      border-bottom: 1px solid transparent;
      transition: all 0.1s ease-in-out;
      width: fit-content;
      &:hover {
        border-bottom: 1px solid #7e33e0;
      }
    }
  }
}
