
.newsletter {
    background-image: url('../../../assets/images/newsletter-bg.png');
    background-position: center;
    height: 462px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
}

