.shadow {
    transition: all 0.2s ease-in-out;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px !important;
    &:hover {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
    }
}
